<div class="info">
    <div id="tiles">Tiles : {{tiles}}</div>
    <div id="trial">Trial : {{trial}}</div>
    <div id="score">Score : {{score}}</div>
</div>
<button id="terminate" onclick="terminate()">Terminate</button>
<div id="panel">
    <button onclick="newGameRound()">I'm ready!</button>
</div>