<div id="summary">
    <div>Memory Game</div>
    <div>Score : {{score}}</div>
    <div>
        <input type="text" id="playername" placeholder="Enter your player name" />
        <button id="submit" onclick="submit()">Submit</button>
    </div>
    <div>
        <button id="restart" onclick="restart()">Restart</button>
    </div>
</div>