<!DOCTYPE html>
<html lang="en">

<head>
    <title>Memory Game</title>
    <meta charset="utf-8" />

    {{#each scripts}}
    <script src="{{script}}"></script>
    {{/each}}
    {{#each styles}}
    <link rel="stylesheet" href="{{style}}" />
    {{/each}}
</head>

<body>
    {{{body}}}
</body>

</html>